@model Freezer_MVC.Models.Food

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lebensmittel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BestBeforeDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BestBeforeDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoodGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoodGroup.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoodSupplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoodSupplier.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editieren</a> |
    <a asp-action="Index">Zurück zur Liste</a>
</div>
